<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <%- include('../partials/header')%>
    <main class="contiainer mx-auto mt-8 p-4">
      <div class="bg-white shadow-md rounded-lg p-6 text-center">
        <h1 class="text-3xl font-bold text-red-500 mb-4">
          Home Registered Successfully
        </h1>
        <p class="text-lg text-gray-600">
          Your Home has been Added too our listings
        </p>
        <a
          href="/store"
          class="inline-block mt-6 p-2 rounded-md bg-red-500 text-white transition duration-300"
          >Return to Home</a
        >
      </div>
    </main>
  </body>
</html>
